
header {
    background-color: gray;
    place-items: left;
    color: whitesmoke;
    font-size: x-small;
    
    nav{ 
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between ;
        
        background-color: black;
        color: aliceblue;
        font-size: medium;
    }
}
body {
    font-family: 'Courier New', Courier, monospace;
    main{
        
        width: 80%;
        color: black;
        background-color: rgb(223, 210, 210);

    }
    aside{
        
        width: 20%;
        color: black;
        background-color: white;

    }
    
    

    
}


footer {
    display: grid;
    place-items: center;
    background-color:black;
    color: aliceblue;

}